.about {
    width: 100%;
    background-color: #ededed;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutItem {
    text-align: justify;
    padding: 20px;
}

.aboutItem p {
    color: lightslategrey;
    font-size: 15px;
}