.blogfield {
    background-image: url("../images/blog-interface2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 30px;
}

.blogfield .blogimgcontent {
    margin-top: 15px;
    margin-left: 15px;
}

.blogfield .blogcontent {
    margin-top: 15px;
}

.blogfield .blogcontent p {
    font-size: 13px;
    color: grey;
}


/* .blogfield .blogcontent h1 {
    font-size: 15px;
} */

.blogfield .blogcontent .blogdate {
    text-align: left;
}

.blogfield .blogcontent .blogview {
    text-align: right;
}

.pages {
    width: 300px;
    margin: auto;
    color: grey;
}

.archivehead {
    background-image: url("../images/blog-interface1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 50px;
    width: 240px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0px;
}

.archivehead .archivetext {
    margin: auto;
    margin-top: 10px;
}

.archivecontent {
    background-image: url("../images/blog-interface3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
    width: 240px;
    margin: auto;
    margin-right: 5px;
    margin-top: -5px;
}

.archivecontent .textcontent {
    margin: auto;
    width: 120px;
    height: 30px;
}

.archivecontent .textcontent .textleft {
    margin-top: 15px;
    text-align: left;
    font-size: 15px;
    height: 20px;
}

.archivecontent .textcontent .textleft p {
    margin-bottom: 0px;
    font-size: 15px;
}

.archivecontent .textcontent img {
    margin-top: 15px;
    text-align: right;
    height: 20px;
    width: 20px;
}

.archivecontent hr {
    margin-top: 5px;
    margin-bottom: 0px;
}

.archivecontent p {
    color: orange;
}