.titleContent {
    padding: 10px;
    background-image: url("../images/contact-interface1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.contactField {
    margin: 20px;
}

.contactContent {
    display: flex;
    margin: 10px;
}

.contactContent img {
    width: 100%;
}

p {
    font-size: 15px;
    text-align: justify;
}

.contactTab {
    margin-left: 30px;
    line-height: 5px;
}