.adbox img {
    margin: auto;
    width: 100%;
}

.item {
    background: url("../images/bg-adbox-feature.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    width: 300px;
    bottom: 0px;
    margin-left: 15px;
    border: black;
}

.item span {
    color: red;
}

.item p {
    font-size: 15px;
}

.pic {
    width: 250px;
    padding: 5px;
    box-shadow: 0px 0px 5px grey;
    background-color: white;
}

.orangeTitle {
    background-image: url("../images/interface-home.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
    text-align: left;
    vertical-align: middle;
}

.itemBottom {
    display: flex;
}

.itemBottom img {
    height: 30%;
}

.bottomText {
    margin-left: 10px;
    text-align: justify;
}

.bottomText h7 {
    font-weight: bold;
}

p {
    font-size: 15px;
    text-align: justify;
}