* {
    margin: 0;
    padding: 0;
}

.content {
    width: 800px;
    margin: auto;
}

.header {
    height: 140px;
    background-image: url("../images/bg-header.png");
}

.main {
    width: 980px;
    margin: auto;
}

.navbar {
    display: flex;
    height: 50px;
    top: 5px;
    bottom: 0px;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: auto;
}

.navcontent {
    list-style: none;
    width: 500px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navhover {
    text-align: center;
}

.navhover a {
    width: 100px;
    color: dimgrey;
    text-shadow: 1px 1px white;
}

.active ,.navhover a:hover {
    background-image: url("../images/nav-interface2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: dimgrey;
}

.nav-images {
    background-image: url("../images/nav-interface.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo {
    height: 86px;
    width: 170px;
    padding-left: 300px;
    padding-top: 30px;
}

.adbox {
    height: 320px;
}

.footer {
    height: 140px;
    background-color: lightgray;
    text-align: 50px;
}

.footer p {
    font-size: 11px;
}

.socialmedia img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}